<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<script src="https://cdn.tailwindcss.com"></script>
<style>
    :root {
        --color-primary: #86bbd8;
        --color-secondary: #f6ae2d;
        --color-tertiary: #4d5056;
    }

    .normal-list li {
      margin-left: 24px;
      list-style: disc;
    }
</style>
<script>
  tailwind.config = {
    theme: {
      extend: {
        colors: {
          primary: "#86bbd8",
          secondary: "#f6ae2d",
          tertiary: "#4d5056",
        },
      },
    },
  };
</script>
