{{define "main"}}
<style>
  :root {
    --main-width: 100vw;
  }
  .main {
    padding: 0;
  }
  .h-banner {
    min-height: calc(100vh - var(--header-height));
  }
</style>

<section class="h-banner bg-cover flex items-center" style="background-image: url(/images/rain.svg);">
  <div class="container flex justify-center flex-wrap flex-col sm:flex-row mx-auto">
    <div class="sm:h-banner flex flex-col p-8">
      <h1 class="text-4xl md:text-7xl font-bold">Hi, I'm Ryan&nbspSandoval</h1>
      <h2 class="mt-1 text-2xl md:text-4xl">
        and I am <span id="stuff-i-am" class="text-secondary"></span>
      </h2>
      <div class="socials">{{partial "social_buttons.html" .}}</div>
    </div>
    <div class="flex flex-col">
      <img class="max-w-80 mx-auto" src="/images/low-poly.svg" alt="low-poly picture">
    </div>
  </div>
</section>

<section class="skillset container mb-8 mx-auto px-8">
  <h1 class="mb-8 text-4xl font-bold underline decoration-primary decoration-4">
    What I do
  </h1>
  {{ partial "large_cards.html" (.Site.GetPage "skills").Pages }}
</section>

<section class="projects container mx-auto px-8">
  <h1 class="mb-8 text-4xl font-bold underline decoration-primary decoration-4">
    Projects
  </h1>
  {{partial "project_cards.html" (.Site.GetPage "projects").Pages }}
</section>

<section class="socials container mx-auto px-8">
  <h1 class="mb-8 text-4xl font-bold underline decoration-primary decoration-4">
    Contact
  </h1>
  <p>The best way to contact me is by connecting with me on LinkedIn.</p>
  <div class="flex justify-center">{{partial "social_buttons.html" .}}</div>
</section>

<script>
  const strings = [
    "a software engineer",
    "an innovator",
    "a problem solver",
    "a creative thinker",
  ];
  var typed = new Typed("#stuff-i-am", {
    strings: strings.map((str) => str + "."),
    typeSpeed: 50,
    backSpeed: 50,
    smartBackspace: false,
    loop: true,
  });
</script>
{{end}}
